<!DOCTYPE html>
<html>
  <head>
    <title>AVANCES EN COMPUTACION </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
   <H1> BIENVENIDOS A AVANCES EN COMPUTACION</H1>
   <BR>
    <H3> ATENTAMENTE <BR> BRADMIR GOMEZ</H3>

  </body>
</html>
